:root{
  --mainBlue: #7e1449; 
  --lightBlue:#09d2ec;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYello:#ffa400;
 
}



body{
  
  font-family: "Montserrat" , "sans-serif"  !important;
  /* background: var(--mainWhite) !important;
  color: var(--mainDark) !important;  */

  /* background: rgb(126,20,73);
 background: linear-gradient(180deg, rgba(126,20,73,1) 0%, rgba(255,130,192,0.9728933809852066) 50%, rgba(126,20,73,1) 100%);  */

  /* background-color: #A9C9FF; */
  background-image: linear-gradient(180deg, #FFBBEC 0%, #A9C9FF 100%) !important ;
  height: 100%;
}

.text-tittle{ 
  font-family:serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  font-size:0.8rem impo !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark)  !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor:pointer;
  font-size: 1.3rem;
  color: var(--mainYello);
}